@import "main";

section#classes {
  @include style-section;

      .classes-div {
        margin-top: 2rem;

        h3 {
          margin-bottom: 1rem;
          border-bottom: 2px solid $accent-color;
        }
        .wrap {
          margin-top: 2rem;
        }
        p {
          line-height: 2rem;
          margin-left: 1rem;
        }
      }

  button {
    @include btn;
    margin: 2rem auto 0;

    img {
      margin: 0 1rem;
      display: none;
      fill: $accent-color;
    }
  }
  button:hover {
    width: 300px;

    img {
      display: block;
    }
  }

}

// Start Responsive Design

@media screen and (min-width: $sm-breakpoint) {
  section#classes .classes-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

      .wrap {
        width: 100%;
        min-width: 370px;
        max-width: 500px;
        //background-color: #5c3d99;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;

      }
  }
}