@import "main";

//  Start Hero Section
section#hero {
  margin: 2rem;

  //  Start Intro Left
  .intro-left {
    h1 {
      font-size: clamp(3rem, 5vw, 64px);
      margin-bottom: 0.5rem;
    }
    h2 {
      font-size: clamp(2rem, 3vw, 48px);
      font-weight: 500;
    }
    h3 {
      font-size: clamp(1.5rem, 2.5vw, 32px);
      margin-bottom: 0.5rem;
      font-weight: 300;
    }
    h1, h2, h3, p {
      position: relative;
      z-index: 5;
    }
    .mobile-headshot {
      margin: 0 auto;
      max-width: 500px;
      background-clip: content-box;
      overflow: hidden;

      &:before {
        content: '';
        background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #5c3d99 100%);
        filter: blur(123px);
        position: absolute;
        width: 100%;
        height: 10%;
        top: 5%;
        transform: translateX(50px);
        z-index: -5;
      }


          img {
            width: 100%;
            margin: 2rem 0 3rem 0;
            border: none;
            outline: none;
            border-radius: 20%;
            position: relative;
            z-index: 3;
          }
    }

      button {
        @include btn;
        margin: 0 auto;

        img {
          margin: 0 1rem;
          display: none;
          fill: $accent-color;
        }
      }
      button:hover {
        width: 300px;

        img {
          display: block;
        }
      }
  } // End Intro Left

  // Start Into Right
  .intro-right {
    display: none;
  } // End Intro Right
} // End Hero Section



//  Start Responsive Design

@media screen and (min-width: $lg-breakpoint) {
  section#hero {
    display: flex;
    //  Start Intro Left
    .intro-left {
      width: 40%;
      margin-left: 2rem;

        .mobile-headshot {
          display: none;
        }
        .welcome-title {
          margin-top: clamp(1rem, 15vh, 8rem);
        }
        button {
          margin-top: 4rem;
        }
    }
  } // End Intro Left

  // Start Intro Right
  section#hero {
    .intro-right {
      display: unset;
      width: 60%;
      height: 100%;

          .headshot {
            display: flex;
            justify-content: center;
            align-items: center;

                img {
                  width: 80%;
                  border: none;
                  outline: none;
                  border-radius: 20%;
                  margin-top: 5vh;
                  z-index: 5;
                }
                &:before {
                  content: '';
                  background: linear-gradient(160deg, rgba(188, 165, 255, 0.00) 0%, #5C3D99 100%);
                  filter: blur(61.5px);
                  position: absolute;
                  width: 80%;
                  height: 45%;
                  top: 250px;
                  transform: translateX(200px);
                  z-index: -5;
                }
          }
    }  //  End Intro Right
  }

} // End Responsive Design