@import url("https://use.typekit.net/cus7xiz.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "century-gothic", sans-serif;
  color: #eceaea;
  background-color: #212121;
  position: relative;
}
body .container {
  max-width: 1479px;
  position: relative;
  margin: 0 auto;
}
body .container li {
  list-style: none;
}
body .container a {
  text-decoration: none;
  color: #eceaea;
  font-weight: bold;
}
body .container .color-bar {
  content: "";
  width: 1%;
  height: auto;
  background: linear-gradient(#5c3d99, #80ed99);
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0.5rem;
  z-index: 0;
}

header {
  position: relative;
  width: 100%;
  /*  .login-btn:hover {
      color: $text-color;
      background-color: $red;
      scale: 1.05;
    }
    .login-btn:active {
      scale: 0.95;
    }*/
}
header .navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101010;
}
header .navbar .nav-logo a {
  font-family: "fastpen", sans-serif;
  font-size: 2.5rem;
}
header .navbar .nav-links {
  display: flex;
  font-size: 1.2rem;
  gap: 3rem;
  margin-right: 5rem;
}
header .navbar .nav-links a:hover {
  text-decoration: underline 2px #80ed99;
}
header .toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
header .dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 35vh;
  background-color: #212121;
  backdrop-filter: blur(5px);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 999;
  /*    .login-btn {
        width: 150px;
        display: flex;
        justify-content: center;
      }*/
}
header .dropdown-menu li {
  padding: 1rem;
  display: flex;
  margin-left: 2rem;
}

@media (max-width: 992px) {
  header .navbar .nav-links, header .navbar .login-btn {
    display: none;
  }
  header .navbar .toggle-btn {
    display: block;
  }
  header .navbar .dropdown-menu {
    display: none;
  }
}
@media (max-width: 576px) {
  header .dropdown-menu {
    width: 100%;
    right: unset;
  }
}
section#hero {
  margin: 2rem;
}
section#hero .intro-left h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
section#hero .intro-left h2 {
  font-size: 2rem;
}
section#hero .intro-left h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
section#hero .intro-left h1, section#hero .intro-left h2, section#hero .intro-left h3, section#hero .intro-left p {
  position: relative;
  z-index: 5;
}
section#hero .intro-left .mobile-headshot {
  margin: 0 auto;
}
section#hero .intro-left .mobile-headshot img {
  width: 100%;
  margin: 1rem 0 3rem 0;
  border: none;
  outline: none;
  border-radius: 20%;
  position: relative;
  z-index: 3;
}
section#hero .intro-left .mobile-headshot:before {
  content: "";
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #5c3d99 100%);
  filter: blur(123px);
  position: absolute;
  width: 100%;
  height: 30%;
  top: 25%;
  left: 25%;
  z-index: 2;
}
section#hero .intro-left p {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}
section#hero .intro-left p span.underline {
  border-bottom: 2px solid #5c3d99;
}
section#hero .intro-left p:first-of-type {
  font-weight: 700;
  margin-bottom: 2rem;
}
section#hero .intro-left p:first-of-type span.green {
  color: #80ed99;
  font-family: "fastpen", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-left: 0.5rem;
}
section#hero .intro-left button {
  width: 80%;
  border: none;
  outline: none;
  border-radius: 4px;
  margin: 2rem auto;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eceaea;
  background-color: #301466;
  font-weight: bold;
  cursor: pointer;
  transition: width 0.5s;
}
section#hero .intro-left button svg {
  margin: 0 1rem;
  display: none;
}
section#hero .intro-left button:hover {
  width: 100%;
}
section#hero .intro-left button:hover svg {
  display: block;
}

/*# sourceMappingURL=style-index.css.map */
